a.tFCButtonTumblr {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, .380392);
    color: #fff !important;
    padding: 0px 5px;
    height: 18px;
    line-height: 18px;
    border: 1px solid rgba(0, 0, 0, .180392);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
}
